/* Header.css */

.header {
  padding: 1em;
  text-align: left;
  top: 0;
  /* Align it to the top edge */
  left: 0;
  /* Align it to the left edge */
  width: 100%;
  /* Make it span the full width of the screen */
  margin: 0;
  /* Ensure it stays on top of other elements */
  background-color: var(--e-global-color-0a996ac);
  display: flex;
  align-content: center;
  justify-content: left;
  border-bottom: none;
}

.title {
  color: white;
  font-size: 1em;
  margin: 0;
  /* Remove any default margin */
} 