.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--mantine-color-white);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
<<<<<<< HEAD

=======
>>>>>>> 698ebc2e18cf88a6868ae5b9916112421594cb99
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
}

.link[data-active] {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-7);
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 0;
  min-width: 180px;
  padding: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-white);
<<<<<<< HEAD
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-gray-3);
  box-shadow: var(--mantine-shadow-sm);

  @media (min-width: var(--mantine-breakpoint-sm)) {
=======

  @media (min-width: 48em) {
>>>>>>> 698ebc2e18cf88a6868ae5b9916112421594cb99
    display: none;
  }
}

.dropdown .link {
  display: block;
<<<<<<< HEAD
  padding: 8px 12px;    
=======
  padding: 8px 12px;
>>>>>>> 698ebc2e18cf88a6868ae5b9916112421594cb99
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.dropdown .link:hover {
  background-color: var(--mantine-color-gray-0);
}